body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

#changeButton {
  cursor: pointer;
  padding: 10px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

#changeButton:hover {
  background-color: #2980b9;
}

#contentDiv {
  font-size: 18px;
  margin-bottom: 20px;
}

#countdown {
  font-size: 24px;
  font-weight: bold;
  color: #2ecc71;
}
